In [1]:
import pandas as pd
import numpy as np

In [4]:
# Load Raw Data
df = pd.read_csv("../Reviews.csv")
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [5]:
# convert str into ID
df['Product_ID'] = pd.Categorical(df['ProductId'], categories=df['ProductId'].unique()).codes
df['User_ID'] = pd.Categorical(df['UserId'], categories=df['UserId'].unique()).codes
df['Time_ID'] = pd.Categorical(df['Time'], categories=df['Time'].unique()).codes
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Product_ID,User_ID,Time_ID
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...,0,0,0
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,1,1,1
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...,2,2,2
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...,3,3,3
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...,4,4,4

In [6]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import SnowballStemmer

w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

stemmer=SnowballStemmer("english")
stop_words=stopwords.words('english')

In [7]:
# Clean Text
df['CleanedText'] = df['Text'].replace(to_replace=r'@\S+',value="",regex=True)
df["CleanedText"] = df['CleanedText'].replace(to_replace=r'[^A-Za-z0-9]+',value=" ",regex=True)
df["CleanedText"] = df["CleanedText"].apply(lambda x: x.split())
df["CleanedText"] = df['CleanedText'].apply(lambda x: [item for item in x if item not in stop_words])
df['CleanedText'] = df['CleanedText'].apply(lambda x: [stemmer.stem(w) for w in x])
df['CleanedText'] = df['CleanedText'].apply(' '.join)
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Product_ID,User_ID,Time_ID,CleanedText
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...,0,0,0,i bought sever vital can dog food product foun...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,1,1,1,product arriv label jumbo salt peanut peanut a...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...,2,2,2,this confect around centuri it light pillowi c...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...,3,3,3,if look secret ingredi robitussin i believ i f...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...,4,4,4,great taffi great price there wide assort yumm...

In [87]:
# select specifical columns and drop the duplicates rows
df1 = df[['Product_ID', 'User_ID', 'Time_ID', 'HelpfulnessNumerator', 'HelpfulnessDenominator', 'Text', 'CleanedText', 'Score']].copy()
df1 = df1.drop_duplicates(subset={"Product_ID","User_ID","Time_ID","CleanedText"}, keep='first', inplace=False)
df1.head()

,Product_ID,User_ID,Time_ID,HelpfulnessNumerator,HelpfulnessDenominator,Text,CleanedText,Score
0,0,0,0,1,1,I have bought several of the Vitality canned d...,i bought sever vital can dog food product foun...,5
1,1,1,1,0,0,Product arrived labeled as Jumbo Salted Peanut...,product arriv label jumbo salt peanut peanut a...,1
2,2,2,2,1,1,This is a confection that has been around a fe...,this confect around centuri it light pillowi c...,4
3,3,3,3,3,3,If you are looking for the secret ingredient i...,if look secret ingredi robitussin i believ i f...,2
4,4,4,4,0,0,Great taffy at a great price. There was a wid...,great taffi great price there wide assort yumm...,5

In [89]:
# See how many rows have been dropped
print(df1.shape)
print(df.shape)

(567107, 9)
(568454, 14)

In [90]:
# Normalize helpness
def sigmoid(x):
    return 1. / (1 + np.exp(-x))

def helpfulness(df):
    numerator = df['HelpfulnessNumerator']
    denominator = df['HelpfulnessDenominator']
    
    epsilon = 1e-5  # avoid zero denominators
    df['NormalizedHelpfulness'] = 1 + (5 * sigmoid(df['HelpfulnessDenominator']) * df['HelpfulnessNumerator']/
                                      (epsilon+df['HelpfulnessDenominator'])).apply(int)

    return df  

df1 = helpfulness(df1)
df1.head()

,Product_ID,User_ID,Time_ID,HelpfulnessNumerator,HelpfulnessDenominator,Text,CleanedText,Score,NormalizedHelpfulness
0,0,0,0,1,1,I have bought several of the Vitality canned d...,i bought sever vital can dog food product foun...,5,4
1,1,1,1,0,0,Product arrived labeled as Jumbo Salted Peanut...,product arriv label jumbo salt peanut peanut a...,1,1
2,2,2,2,1,1,This is a confection that has been around a fe...,this confect around centuri it light pillowi c...,4,4
3,3,3,3,3,3,If you are looking for the secret ingredient i...,if look secret ingredi robitussin i believ i f...,2,5
4,4,4,4,0,0,Great taffy at a great price. There was a wid...,great taffi great price there wide assort yumm...,5,1

In [91]:
# split rows according to their 'Score'
from sklearn.utils import shuffle

df_diff_score = [0] * 5
for i in range(5):
    df_diff_score[i] = df1[df1['Score'] == i+1].copy()
    df_diff_score[i] = shuffle(df_diff_score[i])
    print(df_diff_score[i].shape)

(51948, 9)
(29751, 9)
(42546, 9)
(80536, 9)
(362326, 9)

In [115]:
# generate train_set and test_set

df2 = pd.concat([df_diff_score[i][:20000] for i in range(5)])
df2['Score'].value_counts()

5    20000
4    20000
3    20000
2    20000
1    20000
Name: Score, dtype: int64

In [118]:
df2['NormalizedHelpfulness'].value_counts()

1    53091
4    19759
5    15646
3     7629
2     3875
Name: NormalizedHelpfulness, dtype: int64

In [119]:
df_diff_help = [0] * 5
for i in range(5):
    df_diff_help[i] = df2[df2['NormalizedHelpfulness'] == i+1].copy()
    df_diff_help[i] = shuffle(df_diff_help[i])
    print(df_diff_help[i].shape)

(53091, 9)
(3875, 9)
(7629, 9)
(19759, 9)
(15646, 9)

In [124]:
# Balance Helpfulness

df3 = pd.concat([df_diff_help[i][:3500] for i in range(5)])
df3['Score'].value_counts()

1    4632
2    3876
3    3411
4    2827
5    2754
Name: Score, dtype: int64

In [125]:
df_diff_score = [0] * 5
for i in range(5):
    df_diff_score[i] = df3[df3['Score'] == i+1].copy()
    df_diff_score[i] = shuffle(df_diff_score[i])
    print(df_diff_score[i].shape)

(4632, 9)
(3876, 9)
(3411, 9)
(2827, 9)
(2754, 9)

In [130]:
df4 = pd.concat([df_diff_score[i][:2700] for i in range(5)])
df4['Score'].value_counts()

5    2700
4    2700
3    2700
2    2700
1    2700
Name: Score, dtype: int64

In [131]:
df4['NormalizedHelpfulness'].value_counts()

1    2903
5    2831
4    2811
3    2530
2    2425
Name: NormalizedHelpfulness, dtype: int64

In [132]:
def generate_dataset(train_set_number, test_set_number):
    train_set = pd.concat([df_diff_score[i][:train_set_number] for i in range(5)])
    test_set = pd.concat([df_diff_score[i][train_set_number:train_set_number+test_set_number] for i in range(5)])

    train_set = shuffle(train_set)
    test_set = shuffle(test_set)
    
    return train_set, test_set

train_set, test_set = generate_dataset(2500, 200)
local_train_set, local_test_set= generate_dataset(500, 50)

In [144]:
test_set['NormalizedHelpfulness'].value_counts()

1    224
5    213
4    206
3    205
2    152
Name: NormalizedHelpfulness, dtype: int64

In [145]:
## Drop out raw ID, set them as Nan

class MultiInput3:
    def __init__(self, trainset, testset):
        self.trainset = trainset
        self.testset = testset
        
        self.dic1 = self.Build_Dict('Product_ID')
        self.dic2 = self.Build_Dict('User_ID')
        self.dic3 = self.Build_Dict('Time_ID')
    
    # given feature string, return: dic
    def Build_Dict(self, feature):
        count = {}
        data = list(self.trainset[feature].values) + list(self.testset[feature].values)

        for item in data:
            if not item in count:
                count[item] = 1
            else:
                count[item] += 1

        dic = {}
        lens = 0
        for item in count:
            if count[item] <= 10:  # Nan 
                dic[item] = 0
            else:
                lens = lens + 1
                dic[item] = lens

        return dic

def process_ID(df, MultiDict):
    df['Normalized_Product_ID'] = df['Product_ID'].apply(lambda x: MultiDict.dic1[x])
    df['Normalized_User_ID'] = df['User_ID'].apply(lambda x: MultiDict.dic2[x])
    df['Normalized_Time_ID'] = df['Time_ID'].apply(lambda x: MultiDict.dic3[x])
    
    return df

def Normalize_ID_train_test(train_set, test_set):
    MultiDict = MultiInput3(train_set, test_set)
    
    train_set = process_ID(train_set, MultiDict)
    test_set = process_ID(test_set, MultiDict)

    return train_set, test_set

In [146]:
# Drop out Rare Word and Map it to idea

class CleanedTextDict:
    def __init__(self, trainset, testset, max_len):
        count_of_words = {}
        words = (' '.join(list(trainset['CleanedText'].values) + list(testset['CleanedText'].values))).split()
        
        for word in words:
            if not word in count_of_words:
                count_of_words[word] = 1
            else:
                count_of_words[word] += 1
        
        self.dic = {}
        self.VocabSize = 0
        self.threshold = 10
        self.max_len = max_len

        for word in count_of_words:
            if count_of_words[word] <= 10: # Nan Threshold
                continue
            self.dic[word] = self.VocabSize
            self.VocabSize += 1
        
        print("Cleaned Text Dict, Threshold = %d,  Vocab Size = %d" % (self.threshold, self.VocabSize))
    
    def drop(self, s):
        X = s.split()
        X = [t for t in X if t in self.dic]
        X = X[:max_len]
        return ' '.join(X)

    def toID(self, s):
        X = s.split()
        X = [self.dic[t] for t in X if t in self.dic]
        return X
    
max_len = 128

def DropRareWord(train_set, test_set):
    TextDict = CleanedTextDict(train_set, test_set, max_len)
    
    train_set['MoreCleanedText'] = train_set['CleanedText'].apply(lambda x: TextDict.drop(x))
    test_set['MoreCleanedText'] = test_set['CleanedText'].apply(lambda x: TextDict.drop(x))
    
    train_set['TextID'] = train_set['MoreCleanedText'].apply(lambda x: TextDict.toID(x))
    test_set['TextID'] = test_set['MoreCleanedText'].apply(lambda x: TextDict.toID(x))

    return train_set, test_set

In [147]:
## Get BERT TOKENS

import bert
import tensorflow_hub as hub

class BertTokenizer:
    def __init__(self, max_len, bert_layer):
        self.FullTokenizer = bert.bert_tokenization.FullTokenizer
        self.bert_layer = bert_layer
        self.vocab_file = self.bert_layer.resolved_object.vocab_file.asset_path.numpy()
        self.do_lower_case = self.bert_layer.resolved_object.do_lower_case.numpy()
        self.tokenizer = self.FullTokenizer(self.vocab_file, self.do_lower_case)
        self.max_len = max_len

    def get_masks(self, tokens, max_len):
        """Mask for padding"""    
        if len(tokens)>max_len:    
            print(len(tokens))    
            raise IndexError("Token length more than max seq length!")    
        return [1]*len(tokens) + [0] * (max_len - len(tokens)) 

    def get_segments(self, tokens, max_len):
        """Segments: 0 for the first sequence, 1 for the second"""
        if len(tokens)>max_len:
            print(len(tokens))
            raise IndexError("Token length more than max seq length!")
        segments = []
        current_segment_id = 0
        for token in tokens:
            segments.append(current_segment_id)
            if token == "[SEP]":
                current_segment_id = 1
        return segments + [0] * (max_len - len(tokens))

    def get_ids(self, tokens, tokenizer, max_len):
        """Token ids from Tokenizer vocab"""
        token_ids = tokenizer.convert_tokens_to_ids(tokens)
        input_ids = token_ids + [0] * (max_len-len(token_ids))
        return input_ids

    def GetStokens(self, s):
        stokens = self.tokenizer.tokenize(s)
        stokens = stokens[:self.max_len-2]
        stokens = ["[CLS]"] + stokens + ["[SEP]"]

        return stokens
    
    def GetInput_ids(self, stokens):
        return self.get_ids(stokens, self.tokenizer, self.max_len)

    def GetInput_masks(self, stokens):
        return self.get_masks(stokens, self.max_len)
    
    def GetInput_segments(self, stokens):
        return self.get_segments(stokens, self.max_len)

bert_layer = hub.KerasLayer("../bert_layer", trainable=False)
tokenizer = BertTokenizer(max_len = max_len, bert_layer = bert_layer)

def GetTokens(df):
    df['stokens'] = df['MoreCleanedText'].apply(lambda x: tokenizer.GetStokens(x))
    df['input_ids'] = df['stokens'].apply(lambda x: tokenizer.GetInput_ids(x))
    df['input_masks'] = df['stokens'].apply(lambda x: tokenizer.GetInput_masks(x))
    df['input_segments'] = df['stokens'].apply(lambda x: tokenizer.GetInput_segments(x))
    
    return df

In [148]:
# Pipeline

def feature(train_set, test_set):
    train_set, test_set = Normalize_ID_train_test(train_set, test_set)
    train_set, test_set = DropRareWord(train_set, test_set)
    train_set, test_set = GetTokens(train_set), GetTokens(test_set)
    return train_set, test_set

train_set, test_set = feature(train_set, test_set)

Cleaned Text Dict, Threshold = 10,  Vocab Size = 4064

NameError: name 'ID' is not defined

In [ ]:
local_train_set, local_test_set = feature(local_train_set, local_test_set)

In [142]:
# Save Model

train_set.to_csv(r'data/train_set.csv', index=False)
test_set.to_csv(r'data/test_set.csv', index=False)

local_train_set.to_csv(r'data/local_train_set.csv', index=False)
local_test_set.to_csv(r'data/local_test_set.csv', index=False)

In [143]:
local_train_set.head()

,Product_ID,User_ID,Time_ID,HelpfulnessNumerator,HelpfulnessDenominator,Text,CleanedText,Score,NormalizedHelpfulness,Normalized_Product_ID,Normalized_User_ID,Normalized_Time_ID,MoreCleanedText,stokens,input_ids,input_masks,input_segments
194693,24831,119647,323,1,1,Meow Mix wet food is great. My cats get this ...,meow mix wet food great my cat get treat night...,4,4,0,0,0,mix wet food great my cat get treat night know...,"[[CLS], mix, wet, food, great, my, cat, get, t...","[101, 4666, 4954, 2833, 2307, 2026, 4937, 2131...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
74367,9269,95,923,2,2,I snack on these at work when I get hungry bet...,i snack work i get hungri lunch dinner it help...,4,5,0,0,0,i snack work i get hungri lunch dinner it help...,"[[CLS], i, snack, work, i, get, hung, ##ri, lu...","[101, 1045, 19782, 2147, 1045, 2131, 5112, 308...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
91282,11450,65586,1242,1,5,One bag of thoroughly dried ghost peppers roug...,one bag thorough dri ghost pepper rough size t...,2,1,0,0,0,one bag dri pepper rough size back instruct pe...,"[[CLS], one, bag, dr, ##i, pepper, rough, size...","[101, 2028, 4524, 2852, 2072, 11565, 5931, 294...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
229570,29294,134844,448,2,2,Love these cookies! They are delicate and flav...,love cooki they delic flavor absolut favorit c...,4,5,0,0,0,love cooki they delic flavor absolut favorit c...,"[[CLS], love, cook, ##i, they, del, ##ic, flav...","[101, 2293, 5660, 2072, 2027, 3972, 2594, 1489...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
562668,73674,110765,595,0,0,I have a 33 pound 8 month old puppy who loves ...,i 33 pound 8 month old puppi love chew 50 pome...,1,1,0,0,0,i pound 8 month old puppi love chew 50 50 i su...,"[[CLS], i, pound, 8, month, old, pup, ##pi, lo...","[101, 1045, 9044, 1022, 3204, 2214, 26781, 819...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."